{% include 'header.html' %}

<style>td{width: 100px; padding: 0;}</style>

<h4> {{ month_name }} {{ year }}</h4>

<div class = "month">
	<table>
	
		<tr>
			<td class="">Mon</td>
			<td class="">Tues</td>
			<td class="">Wed</td>
			<td class="">Thurs</td>
			<td class="">Fri</td>
			<td class="">Sat</td>
			<td class="">Sun</td>		
		</tr>
		
		{% for week in month_days %}
			<tr>
				{% for day, events, current in week %}
					<td>
					{% if day != 0 %}
						{{day}}
						{% for event in events %}
							<br/>
							{% if event.tour %}
								<p>{{ event.tour }}</p>
							{% else %}
								{{ event.outreachtrip}}
							{% endif %}
						{% endfor %}
					{% endif %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

</div>

{% include 'footer.html' %}
