{% include 'header.html' %}

	<div class="outer card-panel blue darken-1">
		<div class=" title row white-text valign-wrapper">
		<div class="col s3 valign"><h5 class="left-align">
			{% if month != 1 %}
				<a href="/calendar/{{year}}/{{month|add:'-1'}}">
			{% else %}	
				<a href="/calendar/{{year|add:'-1'}}/12">
			{% endif %}	
				{{ previous_month }}</a></h5></div>
		<div class="col s6 valign"><h4 class="center-align"> {{ current_month }} {{ year }}</h4></div>
		<div class="col s3 valign"><h5 class="right-align">
			{% if month != 12 %}
				<a href="/calendar/{{year}}/{{month|add:'1'}}">
			{% else %}	
				<a href="/calendar/{{year|add:'1'}}/1">
			{% endif %}	
				{{ next_month }}</a></h5></div>
		</div>

		<div class = "month card-panel">
			<table>
			
				<tr>
					<th>Mon</th>
					<th>Tues</th>
					<th>Wed</th>
					<th>Thurs</th>
					<th>Fri</th>
					<th>Sat</th>
					<th>Sun</th>		
				</tr>
				
				{% for week in month_days %}
					<tr>
						{% for day, events, current in week %}
							<td {% if current %}class="current"{% endif %}>
							{% if day != 0 %}
								<a class="date waves-effect waves-teal btn-flat">{{day}}</a>
								{% for event in events %}
									<!--<br/>-->
									{% if forloop.counter < 4 %}
										{% if event.tour %}
											<a class="cal-event blue waves-effect waves-light btn " href="/events/tour/{{event.tour.id}}">{{ event.tour }}</a>
										{% else %}
											<a class="cal-event orange darken-3 waves-effect waves-light btn" href="/events/outreach/{{event.outreachtrip.id}}">{{ event.outreachtrip}}</a>
										{% endif %}
									{% elif forloop.counter == 4 %}
										<a class="more waves-effect waves-teal btn-flat">{{forloop.revcounter}} more </a>
									{% endif %}
									
								{% endfor %}
							{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>

		</div>
	</div>
{% include 'footer.html' %}
