{% include 'header.html' %}

		<div class="card-panel col s12 blue center-align white-text">
			<h4>Fall {{year}}</h4>
			<table>
				<tr>
					{% for month, events in fall.items %}
						<td class="center-align"><a href="{{year}}/{{forloop.counter|add:'6'}}">{{ month }}</a><p>{{events}}<p></p></td>

					{% if forloop.counter|divisibleby:"3" and not forloop.last %}
					</tr><tr>
					{% endif %}
					{% endfor %}
				</tr>
			</table>
		</div>
		<div class="card-panel col s12 green center-align white-text">
			<h4>Spring {{year|add:"1"}}</h4>
			<table>
				<tr>
					{% for month, events in spring.items %}
						<td><a href="{{year|add:'1'}}/{{forloop.counter}}">{{month}}</a><p>{{events}}</p></td>
					{% if forloop.counter|divisibleby:"3" and not forloop.last %}
					</tr><tr>
					{% endif %}
					{% endfor %}
				</tr>
			</table>
		</div>

{% include 'footer.html' %}
