{% include 'header.html' %}

<table>
	<h1>{{ title }}</h1>
	<tr>
		<th>Date:</th>
		<td>{{ event.date }}</td>
	</tr>
	<tr>
		<th>{{descript}}:</th>
		<td>{{descript_field}}</td>
	</tr>
	<tr>
		<th>Location:</th>
		<td>{{event.location}}</td>
	</tr>
	<tr>	
		<th>EAs:</th>
		<td>{{event.EAs_needed}}</td>
	</tr>
	<tr>	
		<th>Notes:</th>
		<td>{{event.notes}}</td>
	</tr>
	<tr>
		<th>Hours:</th>
		<td>{{event.hours}}</td>
</table>


{{event_register_status}}
<form action='/events/{{event_type}}/{{event_id}}/' method='post' >
	{% csrf_token %}
	<input type='submit' value="{{event_toggle}}" name = 'event_register'>
</form>

<table>
	<h1>EAs registered for this event</h1>
{% for EA in EAs_registered %}
	<tr><td>{{ EA }}</td></tr>
{% endfor %}
</table>

{% include 'footer.html' %}
