{% include 'header.html' %}

<div>
	<div class="row">
		<div class="card {{event.color}} {{event.shade}} white-text col s12 jumbo valign-wrapper">
			<div class="jumbo-container valign-wrapper">
				<div class="valign date-icon"><p class="date-icon-line month center-align">{{event.date |date:"M"}}</p>
				<p class="date-icon-line day center-align"><b>{{event.date|date:"d"}}</b></p></div><h3 class="valign">{{title}}</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card-panel {{event.color}} {{event.shade}} white-text col l7 s12" id="details">
			<div class="row valign-wrapper">
				<i class="material-icons medium">event</i><h5 class="valign">{{ event.date|date:"l, M d, Y" }} at {{event.time}}</h5>
			</div>
			{% if event.school %}
			<div class="row valign-wrapper">
				<i class="material-icons medium">school</i><h5>{{event.school}}</h5>
			</div>
			{% endif %}
			{% if event.major %}
			<div class="row valign-wrapper">
				<i class="material-icons medium">book</i><h5>{{event.major}}</h5>
			</div>
			{% endif %}
			{% if event.professor %}
			<div class="row valign-wrapper">
				<i class="material-icons medium">perm_identity</i><h5>{{event.professor}}</h5>
			</div>
			{% endif %}
			<div class="row valign-wrapper">
				<i class="material-icons medium">location_on</i><h5>{{event.location}}</h5>
			</div>
			<div class="row valign-wrapper">
				<i class="material-icons medium">person</i><h5 id="EAs_needed">{% if event.veterans == True %} Veterans required {% elif event.veterans == False %} Veterans NOT required {% else %} {{event.EAs_needed}} ambassadors needed {{event.veterans}} {% endif %}</h5>
			</div>
			<div class="row valign-wrapper">
				<i class="material-icons medium">access_time</i><h5>{{event.hours}} hours</h5>
			</div>
			<div class="row valign-wrapper">
				<i class="material-icons medium">event_note</i><h5>{{event.note}}</h5>
			</div>
		</div>
		
		<div class="col l5 s12 " id="right-card">
			
			<!--GROUPME INTEGRATION-->
			{% load staticfiles %}
			
			<div class="card-panel {{event.color}} {% if groupme_status %} {{event.shade}} {% else %} lighten-1 {% endif %} center-align" id='groupme'>
				<h5 class="white-text" id="groupme_text">{% if groupme_status %}This event already has a groupme.{% else %}This event doesn't have a groupme yet. {% endif %}</h5>
				<p ><a href="{% if groupme_status %} {% url 'groupme:event_call' event.group.group_id %} {% else %} {% url 'groupme:event_create' event.id %} {% endif %}" class="{{event.color}} {% if groupme_status %} lighten-1 {% else %} darken-1 {% endif %} valign waves-effect waves-light btn-large" id="groupme-btn">{% if groupme_status %}Go to groupme{% else %}Make a group{% endif %}<img class="groupme_icon left" src="{% static 'img/groupme_logo.png' %}"/></a></p>
			</div>
			
			<!--EVENT REGISTER STATUS-->
			
			<div class="card-panel {{background_color}} lighten-1 center-align" id='event_register_status'>
				<h5 class="white-text" id="status_text">{{event_register_status}}</h5>
				<p><a class="{{background_color}} btn-large waves-effect waves-light" id="register-btn">{% if registered %}Withdraw<i class="material-icons left">radio_button_checked</i>{% elif registered != True and need %}Sign up<i class="material-icons left">radio_button_unchecked</i>{% else %}No EAs needed{% endif %}</a></p>
			</div>
			
			<div class="card-panel white-text {{event.color}} {{event.shade}} center-align">
			
				<h5>Registered Engineering Ambassadors</h5>
				
				<div id="eas" class="center-align">		
				    {% for EA in EAs_registered %}
					<div id="{{EA.id}}" class="figure"><a href="{% url 'directory:ambassador_profile' EA.id %}">
				        <img class="z-depth-1 picture" src="{{EA.engineeringambassador.picture.url}}" alt="{{EA.engineeringambassador}}"/>
						<figcaption>{{EA.engineeringambassador}}</figcaption></a>
					</div>
				    {% endfor %}
				</div>
				
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}