{% include 'header.html' %}

<div id = 'event_detail'>
<table align='center'>
	<h1>{{ title }}</h1>
	<tr>
		<th>Date:</th>
		<td>{{ event.date|date:"l, d M Y" }}</td>
	</tr>
	<tr>
		<th>{{descript}}:</th>
		<td>{{descript_field}}</td>
	</tr>
	<tr>
		<th>Location:</th>
		<td>{{event.location}}</td>
	</tr>
	<tr>	
		<th>EAs:</th>
		<td>{{event.EAs_needed}}</td>
	</tr>
	<tr>	
		<th>Notes:</th>
		<td>{{event.notes}}</td>
	</tr>
	<tr>
		<th>Hours:</th>
		<td>{{event.hours}}</td>
</table>
</div>

<div class='{{background_color}}' id='event_register_status'>
	<p>{{event_register_status}}</p>
	<form action='/events/{{event_type}}/{{event_id}}/' method='post' >
		{% csrf_token %}
		<input id = 'event_register_button' type='submit' value="{{event_toggle}}" name = 'event_register'>
	</form>
</div>

<div id='EAs_registered'>
<table align='center'>
	<h1>EAs registered for this event</h1>
{% for EA in EAs_registered %}
	<tr><td>{{ EA }}</td></tr>
{% endfor %}
</table>
</div>

{% include 'footer.html' %}
