<style>
	#freshman_table tbody tr:hover { background-color: #5c6bc0; }
	#freshman_table a {color: #e8eaf6 ; }
</style>

<div class="card-panel indigo white-text">
<table class="hoverable" id='freshman_table'>
	<h4>Freshman Seminars</h4>
	
	{% if freshman_list.count != 0 %}
	<thead>
	<tr>
		<th>Date</th>
		<th>Time</th>
		<th>Major</th>
		<th>EAs</th>
	</tr>
	</thead>
	<tbody>
		{% for freshman in freshman_list %}
		<tr>
			<td>{{freshman.date}}</td>
			<td class="link"><a href="{% url 'events:detail' freshman.id %}">{{freshman.time}}</a></td>
			<td>{{freshman.major}}</td>
			<td>{{freshman.EAs_needed}}</td>
		</tr>
		{% endfor %}
	</tbody>
	{% else %}
		<p>There are no freshman seminars scheduled at this time.</p>
	{% endif %}
</table>
</div>
