{% include 'header.html' %}

<div class="container">
<form action='/events/' method ='get' class="col s12">
	<div class="input-field col s12">
		<select id='event_view' name='event_view' onchange='this.form.submit();'>
		<option value='all'>All Events</option>
		<option value='out'>Outreach Trips</option>
		<option value='tour'>Tours</option>
	</select>
	</div>
</form>

{% if event_view == "out" %}

	{% include "events/outreach_list.html" %}
	
	<script>
	$(document).ready(
	function(){
	$("#event_view").val( 'out' ); });
	</script>
	
{% elif event_view == "tour" %}
	
	{% include "events/tour_list.html" %}
	
	<script>
	$(document).ready(
	function(){
	$("#event_view").val( 'tour' ); });
	</script>	
	
{% else %}
	
	{% include "events/outreach_list.html" %}
	{% include "events/tour_list.html" %}
		
	<script>
	$(document).ready(
	function(){
	$("#event_view").val( 'all' ); });
	</script>

{% endif %}
</div>
{% include 'footer.html' %}
