<!-- figure out this forms in django template thing

https://docs.djangoproject.com/en/1.8/topics/forms/

-->

{% include 'header.html' %}

<form action='/events/' method ='get'>
	<select id='event_view' name='event_view' onchange='this.form.submit();'>
<!--
		<option>Events to view</option>
-->
		<option value='all'>All Events</option>
		<option value='out'>Outreach Trips</option>
		<option value='tour'>Tours</option>
	</select>
</form>

{% if event_view == "out" %}

	{% include "events/outreach_list.html" %}
	
	<script>
	$(document).ready(
	function(){
	$("#event_view").val( 'out' ); });
	</script>
	
{% elif event_view == "tour" %}
	
	{% include "events/tour_list.html" %}
	
	<script>
	$(document).ready(
	function(){
	$("#event_view").val( 'tour' ); });
	</script>
	
	
{% else %}
	
	{% include "events/outreach_list.html" %}
	{% include "events/tour_list.html" %}
		
	<script>
	$(document).ready(
	function(){
	$("#event_view").val( 'all' ); });
	</script>

{% endif %}

{% include 'footer.html' %}
