<style>#outreach_table tbody tr:hover {
      background-color: #1e88e5; }</style>

<div class="card-panel blue darken-3 white-text">
<table class="hoverable" id='outreach_table'>
	<h3>Outreach Trips</h3>
	<thead>
	<tr>
		<th>Date</th>
		<th>School</th>
		<th>Location</th>
		<th>EAs</th>
		<th>Notes</th>
		<th>Hours</th>
	</tr>
	</thead>
	<tbody>
{% for outreach in outreach_list %}
	<tr>
		<td>{{outreach.date}}</td>
		<td class="link"><a href="/events/outreach/{{outreach.id}}/">{{outreach.school}}</a></td>
		<td>{{outreach.location}}</td>
		<td>{{outreach.EAs_needed}}</td>
		<td>{{outreach.note}}</td>
		<td>{{outreach.hours}}</td>
	</tr>
{% endfor %}
	</tbody>
</table>
</div>
