<style>
#tour_table tbody tr:hover {background-color: #00e676; }
</style>

<div class="card-panel green accent-4 white-text">
<table class="hoverable" id="tour_table">
	<h3>Tours</h3>
	<thead>
	<tr>
		<th>Type</th>
		<th>Date</th>
		<th>Time</th>
		<th>Location</th>
		<th>EAs</th>
		<th>Notes</th>
		<th>Hours</th>
	</tr>
	</thead>
	<tbody>
{% for tour in tour_list %}
	<tr>
		<td>{{tour.tour_type}}</td>
		<td>{{tour.date}}</td>
		<td><a href="/events/tour/{{tour.id}}/">{{tour.time|time:"g:i A"}}</a></td>
		<td>{{tour.location}}</td>
		<td>{{tour.EAs_needed}}</td>
		<td>{{tour.note}}</td>
		<td>{{tour.hours}}</td>
	</tr>
{% endfor %}
	</tbody>
</table>
</div>
