<style>
#tour_table tbody tr:hover {background-color: #00897b; }
</style>

<div class="card-panel teal darken-2 white-text">
<table class="hoverable" id="tour_table">
	<h4>Tours</h4>

{% if tour_list.count != 0 %}
	<thead>
	<tr>
		
		<th>Date</th>
		<th>Time</th>
		<th>Type</th>
		<th>EAs</th>
	</tr>
	</thead>
	
	<tbody>
	{% for tour in tour_list %}
		<tr>
			
			<td>{{tour.date}}</td>
			<td><a href="/events/tour/{{tour.id}}/">{{tour.time|time:"g:i A"}}</a></td>
			<td>{{tour.tour_type}}</td>
			<td>{{tour.EAs_needed}}</td>
		</tr>
	{% endfor %}
	</tbody>
{% else %}
	<p>There are no tours scheduled at this time.</p>
{% endif %}
</table>
</div>
