{% include 'header.html' %}

  <nav>
    <div class="nav-wrapper">
      <form method = "post" action="/directory/ambassador_profile/">
        {% csrf_token %}
        <div class="input-field">
          <input id="directory_search" type="search" name="directory_search">
          <label for="directory_search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close"></i>
        </div>
      </form>
    </div>
  </nav>
  
  <div id="grid">
    <div class="row">
      {% for ambassador in ambassadors %}
      <div class="col s6 l3">
          <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ambassador.picture.url}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ambassador}} <i class="mdi-navigation-more-vert right"></i></span>
            <p>{{ambassador.major}}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ambassador}}<i class="mdi-navigation-close right"></i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p><a href="">Profile</a>
          </div>
        </div>
      </div>
      
      {% if forloop.counter|divisibleby:"4" and not forloop.last %}
        </div><div class="row">
      {% endif %}
      {% endfor %}
   </div>
  </div>

{% include 'footer.html' %}