<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
<!--JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
		<script src="{% static 'overall.js' %}"></script>
	
<!--CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'overall.css' %}"/>
	{% if stylesheet %}
	<link rel="stylesheet" type="text/css" href= "{% static stylesheet %}"/>
	{% endif %}
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	
<title>{{title}}</title>

 

</head>

<body>

{% if request.user.is_authenticated %}

      <ul class="side-nav fixed blue">
      	<li class="logo"><a id="logo" href="/" class="brand-logo">Isaac</a></li>
		    <li {% if app == 'events' %} class="active" {% endif %}><a href = '{% url "events:list_events" %}'>Events</a></li>
		    <ul class="collapsible" data-collapsible="accordion">
		    	<li>
					<div class="collapsible-header {% if app == 'calendar' %} active {% endif %}"><a>Calendar</a></div>
				      <div class="collapsible-body">
				      	<ul class="blue">
				      	  <li><a href="/calendar/year">Year</a></li>
				      	  <li><a href="/calendar">Month</a></li>
				      	  <li><a href="#!">Day</a></li>
				      	</ul>
				      </div>
				      
				</li>
			</ul>
				<li {% if app == 'messages' %} class="active" {% endif %}><a href = '/bc'>Messages</a></li>
				<li {% if app == 'groups' %} class="active" {% endif %}><a href = '#'>Groups</a></li>
				<li {% if app == 'personal' %} class="active" {% endif %}><a href = '#'>Personal</a></li>
				<li><a href = '{% url "logout" %}'>Logout</a></li>
    </ul>
      
	<div class="navbar-fixed">
      <nav class="blue white-text">
      	
      		      	      <a href="/events" data-activates="slide-out" id = "nav-btn" class="button-collapse"><i class="mdi-navigation-menu medium"></i></a>
      	      <a href="#" class="brand-logo center">Isaac</a>
      	
	</nav>
	</div>
      <ul class="side-nav blue white-text" id="slide-out">
      	<li class="logo"><a id="logo" href="/" class="brand-logo">Isaac</a></li>
				<li {% if app == 'events' %} class="active" {% endif %}><a href = '{% url "events:list_events" %}'>Events</a></li>
				<ul class="collapsible" data-collapsible="accordion">
		    	<li>
					<div class="collapsible-header {% if app == 'calendar' %} active {% endif %}"><a>Calendar</a></div>
				      <div class="collapsible-body">
				      	<ul class="blue">
				      	  <li><a {% if current_year %} href="/calendar/{{current_year}}"{% else %} href="/calendar/{{year}}" {% endif %}>Year</a></li>
				      	  <li><a href="/calendar">Month</a></li>
				      	  <li><a href="#!">Day</a></li>
				      	</ul>
				      </div>
				      
				</li>
			</ul>
				<li {% if app == 'messages' %} class="active" {% endif %}><a href = '/bc'>Messages</a></li>
				<li {% if app == 'groups' %} class="active" {% endif %}><a href = '#'>Groups</a></li>
				<li {% if app == 'personal' %} class="active" {% endif %}><a href = '#'>Personal</a></li>
				<li><a href = '{% url "logout" %}'>Logout</a></li>
      </ul>
 {% endif %}  