{% include 'header.html' %}

<style type="text/css">
   .container {height: 100vh;}
   .blue {width: 100%;}
   .btn-container {padding-right: 25%; padding-left: 25%;}
 
</style>
	
	<div class="container valign-wrapper">
	<div class="card-panel blue valign">
		<h3 class="white-text">Welcome Ambassador</h3>
	<div class="card-panel">
	<form method="post" action='/login/'>
		{% csrf_token %}
		<div class="input-field">
          <input name="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
        <div class="input-field">
          <input name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="btn-container">
        <button class="btn blue waves-effect waves-light" type="submit" name="/login/">Log in
    		<i class="mdi-content-send right"></i>
  		</button>
  		</div>
	</form>
	</div>
	</div>
	</div>
	
{% include 'footer.html' %}
