{% include 'header.html' %}
  <!--HEADER BAR-->
  <div class="row valign-wrapper">
    <div class="top-bar valign-wrapper teal">
      <div class="top-left">
        <h1 id="header" class="valign truncate flow-text"></h1>
      </div>
      <div class="top-right right-align">
        <i id="activate-groups" class="material-icons small">list</i>
      </div>
      <a id="delete" href="#modal1" class="delete-hidden modal-trigger waves-effect waves-light btn red lighten-2"><i class="material-icons right">delete</i>Disband Group</a>
    </div>
  </div>
  
  <!--CONFIRMATION MODAL FOR DISBAND GROUP-->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Are you sure?</h4>
      <h5>I mean, disbanding this group won't end the world, but then I have to create it again and it's just a pain in the butt.</h5>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect green waves-white white-text btn-flat">Cancel</a>
      <a id="disband" class="modal-action modal-close waves-effect waves-red btn-flat">Disband</a>
    </div>
  </div>

  MAIN DISCUSSION WINDOW
  <div class="row discussion-div">
    <ol class="discussion grey lighten-5">
      <h5>Loading latest messages...</h5>
      <!--THIS IS KEPT COMMENTED OUT ONLY AS AN EXAMPLE OF WHAT THIS CHAT LAYOUT LOOKS LIKE IN HTML-->
      
      <!--<li class="other">
        <div class="avatar">
          <img src="" />
        </div>
        <div class="messages teal white-text">
          <p>This is a test</p>
          <time datetime="2009-11-13T20:00">Timothy • 51 min</time>
        </div>
      </li>
      <li class="self">
        <div class="avatar">
          <img src="" />
        </div>
        <div class="messages white-text">
          <p>That makes sense.</p>
          <p>It's a pretty small airport.</p>
          <time datetime="2009-11-13T20:14">37 mins</time>
        </div>
      </li>
      <li class="other">
        <div class="avatar">
          <img src="" />
        </div>
        <div class="messages teal white-text">
          <p>that mongodb thing looks good, huh?</p>
          <p>
            tiny master db, and huge document store</p> 
        </div>
      </li>
       <li class="other">
        <div class="avatar">
          <img src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xta1/v/l/t1.0-9/11257993_10205198818064207_802148027923003103_n.jpg?oh=d5c2e7d1e0370c07e68c5e575eff7432&oe=5634A538" />
        </div>
        <div class="messages teal white-text">
          <p>that mongodb thing looks good, huh?</p>
          <p>
            tiny master db, and huge document store</p> 
        </div>
      </li>
      <li class="other">
        <div class="avatar">
          <img src="" />
        </div>
        <div class="messages teal white-text">
          <p>that mongodb thing looks good, huh?</p>
          <p>
            tiny master db, and huge document store</p> 
        </div>
      </li>
      <li class="self">
        <div class="avatar">
          <img src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xta1/v/l/t1.0-9/11257993_10205198818064207_802148027923003103_n.jpg?oh=d5c2e7d1e0370c07e68c5e575eff7432&oe=5634A538" />
        </div>
        <div class="messages white-text">
          <p>That makes sense.</p>
          <p>It's a pretty small airport.</p>
          <time datetime="2009-11-13T20:14">37 mins</time>
        </div>
      </li>-->
    </ol>
  </div>
  
  
  <!--MESSAGE BAR-->
  <div class="row">
    <form id="message-form">
      <div class="row">
      	<div class="input-field col s12 l9">
      		<i class="material-icons prefix">mode_edit</i>
          	<input autocomplete="off" placeholder="Message" id="message-write" type="text" class="validate">
        </div>
        <div class="input-field col s12 l3">
          <a id="send-btn" class="waves-effect waves-light btn"><i class="material-icons right">send</i>Send</a>
        </div>
      </div>
     </form>
  </div>

<ol class="groups blue">
  {% for group in relevant_groups %}
  <a><li data-id={{group.0}}>{{group.1}}</li></a>
  {% endfor %}
</ol>

{% include 'footer.html' %}